name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  schedule:
    - cron: '0 8 */6 * *' # every 6 days to keep cache
  push:
    branches:
      - 'main'
    tags:
      - '*'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

env:
  DOCKERHUB_SLUG: crazymax/osxcross
  GHCR_SLUG: ghcr.io/crazy-max/osxcross

jobs:
  build:
    uses: docker/github-builder/.github/workflows/bake.yml@v1
    strategy:
      fail-fast: false
      matrix:
        variant:
          - ubuntu
          - debian
          - alpine
    permissions:
      contents: read # same as global permissions
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # required to push to GHCR
    with:
      setup-qemu: true
      target: image-all
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      set-meta-labels: true
      meta-images: |
        crazymax/osxcross
        ghcr.io/crazy-max/osxcross
      meta-tags: |
        type=match,pattern=(.*)-r,group=1,enable=${{ matrix.variant == 'ubuntu' }}
        type=match,pattern=(.*)-r,group=1,suffix=-${{ matrix.variant }}
        type=edge,enable=${{ matrix.variant == 'ubuntu' }}
        type=edge,suffix=-${{ matrix.variant }}
        type=ref,event=tag,enable=${{ matrix.variant == 'ubuntu' }}
        type=ref,event=tag,suffix=-${{ matrix.variant }}
        type=ref,event=pr
        type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') && matrix.variant == 'ubuntu' }}
        type=raw,value=latest,suffix=-${{ matrix.variant }},enable=${{ startsWith(github.ref, 'refs/tags/') }}
      meta-labels: |
        org.opencontainers.image.title=MacOSX cross toolchain (${{ matrix.variant }})
        org.opencontainers.image.vendor=CrazyMax
    secrets:
      registry-auths: |
        - registry: docker.io
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        - registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
