name: build

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

env:
  DOCKERHUB_SLUG: crazymax/osxcross
  GHCR_SLUG: ghcr.io/crazy-max/osxcross

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - ubuntu
          - alpine
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Cache
        uses: actions/cache@v3.0.1
        with:
          path: /tmp/.osxcross-cache
          key: ${{ runner.os }}-osxcross-${{ matrix.variant }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-osxcross-${{ matrix.variant }}-
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ env.DOCKERHUB_SLUG }}
            ${{ env.GHCR_SLUG }}
          tags: |
            type=match,pattern=(.*)-r,group=1,enable=${{ matrix.variant == 'ubuntu' }}
            type=match,pattern=(.*)-r,group=1,suffix=-${{ matrix.variant }}
            type=edge,enable=${{ matrix.variant == 'ubuntu' }}
            type=edge,suffix=-${{ matrix.variant }}
            type=ref,event=tag,enable=${{ matrix.variant == 'ubuntu' }}
            type=ref,event=tag,suffix=-${{ matrix.variant }}
            type=ref,event=pr
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') && matrix.variant == 'ubuntu' }}
            type=raw,value=latest,suffix=-${{ matrix.variant }},enable=${{ startsWith(github.ref, 'refs/tags/') }}
          flavor: |
            latest=false
          labels: |
            org.opencontainers.image.title=MacOSX cross toolchain (${{ matrix.variant }})
            org.opencontainers.image.vendor=CrazyMax
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: --debug
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build ${{ matrix.variant }}
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: image-all
          set: |
            *.cache-from=type=local,src=/tmp/.osxcross-cache
            *.cache-to=type=local,dest=/tmp/.osxcross-cache-new,mode=max
          push: ${{ github.event_name != 'pull_request' }}
        env:
          BASE_VARIANT: ${{ matrix.variant }}
      -
        # FIXME: https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.osxcross-cache
          mv /tmp/.osxcross-cache-new /tmp/.osxcross-cache
