name: test

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - ubuntu
          - alpine
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Cache
        uses: actions/cache@v2
        with:
          path: /tmp/.osxcross-cache
          key: ${{ runner.os }}-osxcross-test-${{ matrix.variant }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-osxcross-test-${{ matrix.variant }}-
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Test
        uses: docker/bake-action@v2
        with:
          targets: test
          set: |
            *.cache-from=type=local,src=/tmp/.osxcross-cache
            *.cache-to=type=local,dest=/tmp/.osxcross-cache-new,mode=max
        env:
          BASE_VARIANT: ${{ matrix.variant }}
      -
        # FIXME: https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.osxcross-cache
          mv /tmp/.osxcross-cache-new /tmp/.osxcross-cache
